<div class="object-cell grippy-trigger">
  <div class="object-cell-handle">
    <span ui-tree-handle class="grippy"></span>
  </div>
  <div class="object-cell-main" ng-controller="mathObjectCtrl">
    <div ng-include="'templates/common.html'"></div>
    <div class="cell-row">
      <div style="margin-left:25px;">
        <label class="pull-left">r ∈ </label>
        <input class="form-control input-xs" style="width:75px" type="text" ng-model="obj.settings.rangeU"></input>
      </div>
    </div>
    <div class="cell-row">
      <div style="margin-left:25px;">
        <label class="pull-left">θ ∈ </label>
        <input class="form-control input-xs" style="width:75px" type="text" ng-model="obj.settings.rangeV"></input>
      </div>
    </div>
  </div>
</div>