.mathbox-container {
    width:100%;
    height:100%;
    position:absolute;
}
.frozen {
    pointer-events:none;
}

input.jscolor {
    width:25px;
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

button.upper-right {
    background: transparent;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
}
span.remove-item {
    color:darkgray;
}