<div style="position:relative" ng-controller="loadFromDbCtrl">
  <a style="position:absolute;top:0;left:-30px" class="btn btn-link sidepanel-toggle" href="" ng-click="toggle()">
    <span class="glyphicon glyphicon-menu-right" ng-class="{'hidden': !visible}"></span>
  </a>
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#features">Feature Demos</a>
    </li>
    <li>
      <a data-toggle="tab" href="#advanced">Advanced Examples</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="features" class="tab-pane fade in active">
      <ul>
        <li><a href="" ng-click="loadGraph('example_sliders')">Using Sliders to control Parameters</a></li>
        <li><a href="" ng-click="loadGraph('example_sliders_and_plotrange')">Using Sliders to Animate Plot Range</a></li>
        <li><a href="" ng-click="loadGraph('example_vector_tails')">Vectors and Vector Tails</a></li>
        <li><a href="" ng-click="loadGraph('example_labels')">Labeling Points and Vectors</a></li>
        <li><a href="" ng-click="loadGraph('example_functions')">Functions: Defining and Using</a></li>
        <li><a href="">Diff: Calculating Derivatives</a></li>
        <li><a href="">Toggling Visibility for Multiple Objects</a></li>
        <li><a href="">The TNB Vectors</a></li>
        <li><a href="">Adjusting Visibility with zBias</a></li>
      </ul>
    </div>
    <div id="advanced" class="tab-pane fade">
      <ul>
        <li><a href="">Velocity and Acceleration Vectors</a></li>
        <li><a href="">Surface of Revolution (Washer Method, Horizontal Axis)</a></li>
        <li><a href="">Surface of Revolution (Shell Method, Horizontal Axis)</a></li>
        <li><a href="">Angular Momentum and Angular Velocity</a></li>
        <li><a href="">A Ruled Hyperbola</a></li>
        <li><a href="">Partial Derivatives</a></li>
      </ul>
    </div>
  </div>
</div>

