<div style="position:relative">
  <a style="position:absolute;top:0;left:-30px" class="btn btn-link sidepanel-toggle" href="" ng-click="toggle()">
    <span class="glyphicon glyphicon-menu-right" ng-class="{'hidden': !visible}"></span>
  </a>
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#basic">Basic</a>
    </li>
    <li>
      <a data-toggle="tab" href="#feature">Feature Demos</a>
    </li>
    <li>
      <a data-toggle="tab" href="#advanced">Advanced</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="basic" class="tab-pane fade in active">
      <p>Basic Examples</p>
    </div>
    <div id="feature" class="tab-pane fade">
      <p>Feature Demos</p>
    </div>
    <div id="advanced" class="tab-pane fade">
      <p>Advanced</p>
    </div>
  </div>
</div>

