<div class="tree-node tree-node-content folder-container grippy-trigger">
  <div class="folder-sidebar" ui-tree-handle>
    <span class="grippy"></span>
  </div>
  <div class="folder-main">
    <!-- Folder Header -->
    <div class="folder-header">
      <div class="folder-header-left">
        <a class="btn btn-link btn-xs" type='button' data-nodrag ng-click="toggle(this)">
          <span class="glyphicon"
            ng-class="{
            'glyphicon-chevron-right': collapsed,
            'glyphicon-chevron-down': !collapsed
          }">
          </span>
        </a>
      </div>
      <div class="folder-header-center">
        <textarea rows="1" style="width:[[branch.name.length+2]]ch;" class="object-description form-control input-quiet input-xs" type='text' ng-model="branch.name"> </textarea>
      </div>
      <div class="folder-header-right pull-right">
        <a class="pull-right btn btn-link btn-xs btn-quiet" data-nodrag ng-class="{disabled: branch.objects.length>0 || math3d.mathTree.length === 1}" ng-click="removeFolder(branch);">
          <span class="glyphicon glyphicon-remove">
          </span>
        </a>
      </div>
    </div>
    <!-- Folder items -->
    <div class="list-group folder-contents" ui-tree-nodes='' ng-class="{hidden: collapsed}" ng-model="branch.objects">
      <div compile-template ui-tree-node class="list-group-item tree-node tree-node-content" ng-repeat="obj in branch.objects" ng-bind-html="$parent.addOjbectToUi(obj)" ng-show="obj.settings.showInUI">
      </div>
    </div>
  </div>
</div>