<section style="width:250px">
  <h4 style="margin-top:0pt" class='text-center'>Help / Contact</h4>
  <button type="button" class="btn btn-link btn-xs btn-quiet pull-upper-right" ng-click="myPopover.close()">
      <span class="glyphicon glyphicon-remove"></span>
  </button>
  <p><a href="http://math3d.org">Math3d.org</a> is a work in progress. Have a question? Suggestion? Found a bug?</p>
  
  <p>Let us know!</p>
  <ul style="list-style:none;padding-left:0pt">
    <li> <i class="fa fa-github-square" style="font-size:24px"></i> <a href="https://github.com/ChristopherChudzicki/math3d/issues">Open an issue at Github</a> </li>
    <li> <i class="fa fa-google" style="font-size:24px"></i> Email <u>math3dapp@gmail.com</u> </li>
    <li> <i class="fa fa-twitter-square" style="font-size:24px"></i> Tweet @math3dapp</li>
  </ul>
  
</section>