<div class="object-cell grippy-trigger">
  <div class="object-cell-handle">
    <span ui-tree-handle class="grippy"></span>
  </div>
  <div class="object-cell-main" ng-controller="mathObjectCtrl">
    <div class="cell-row">
      <textarea rows="1" style="width:[[obj.settings.description.length+2]]ch;" class="object-description form-control input-quiet input-xs" type='text' ng-model="obj.settings.description"></textarea>
      <button type="button" class="btn btn-link btn-xs btn-quiet pull-upper-right" ng-click="obj.remove();">
          <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
    <div class="cell-row">
      <input style="width:auto; margin-right:5px" type="text" ng-class="{'has-error': !obj.valid}" class="form-control has-feedback input-xs" size="[[1+obj.settings.name.length]]" type="text" ng-model="obj.settings.name"></input>
      <toggle ng-model="obj.settings.value" size='btn-xs' onstyle='btn-success' offstyle='btn-default'></toggle>
    </div>
  </div>
</div>