.equation-LHS {
    float:right;
    padding-right:1.5em;
}

/*-----Match gui color to functionc olor-----*/
.dg.functions-folder>ul li:nth-child(2) .dg ul li.title{
    border-left:3pt solid #3090FF;
}
.dg.functions-folder>ul li:nth-child(2) .dg ul li.cr {
    border-left-color:#3090FF;
}
.dg.functions-folder>ul li:nth-child(2) .dg ul div.slider-fg {
    background-color:#3090FF;
}
.dg.functions-folder>ul li:nth-child(2) .dg ul li.cr div.c input {
    color:#3090FF;
}

.dg.functions-folder>ul li:nth-child(3) .dg ul li.title{
    border-left:3pt solid orange;
}
.dg.functions-folder>ul li:nth-child(3) .dg ul li.cr {
    border-left-color:orange;
}
.dg.functions-folder>ul li:nth-child(3) .dg ul div.slider-fg {
    background-color:orange;
}
.dg.functions-folder>ul li:nth-child(3) .dg ul li.cr div.c input {
    color:orange;
}

.dg.functions-folder>ul li:nth-child(4) .dg ul li.title{
    border-left:3pt solid #2db92d;
}
.dg.functions-folder>ul li:nth-child(4) .dg ul li.cr {
    border-left-color:#2db92d;
}
.dg.functions-folder>ul li:nth-child(4) .dg ul div.slider-fg {
    background-color:#2db92d;
}
.dg.functions-folder>ul li:nth-child(4) .dg ul li.cr div.c input {
    color:#2db92d;
}


.dg .cr .c input[type=text] {
    font-size: 150%;
    letter-spacing:2px;
}

.dg .cr .property-name span {
    font-size: 125%;
}

