.math3d-controller {
    z-index:1000;
    width:275px;
    position:absolute;
    padding-left:0;
}

.math3d-controller-header {
    padding:4px;
}

input.jscolor {
    width:25px;
}

div.visibility-indicator {
    width:20px;
    height:20px;
    border-style:solid;
    border-width:4px;
}
div.visibility-indicator.visibility-indicator-true {
}
div.visibility-indicator.visibility-indicator-false {
}

.hide-in-place {
    opacity:0;
    width:1px;
    height:1px;
}

div.add-object {
    display:inline-block;
}

li.save {
    float:right;
}

#save-modal textarea {
    width:100%;
    height:100px;
}

.upper-right {
    background: transparent;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
}
span.remove-item {
    color:darkgray;
}
span.edit-label{
    visibility:hidden;
}
span.edit-label .glyphicon {
    color:darkgray;
}
span.label-and-description:hover span.edit-label{
    visibility:visible;
}


.btn:focus{
    outline:none;
}

.btn.btn-link:hover{
    background-color:#ecf0f1;
    border-radius:4px;
}
span.settings:hover span.glyphicon{
    color:#18bc9c;
}

div.folder-container{
    overflow:hidden;
    margin-bottom:6px;
    display:flex;
}

div.folder-sidebar{
    flex:1;
}

div.folder-main{
    flex:20;
}

div.folder-main .folder-header{
    display:flex;
}
div.folder-header-left{
    flex:1;
    overflow:hidden;
}
div.folder-header-center{
    flex:8;
}
div.folder-header-right{
    flex:1;
}

.form-incognito {
    border:none;
}
.form-bold {
    font-weight:bold;
}

.folder-header-center input:hover + span {
    visibility:visible;
}

span.folder-name-editable{
    color:lightgray;
    visibility:hidden;
}

div.folder-main .folder-contents{
}

input.has-error.has-feedback {
    outline: none;
    border-color: red;
    box-shadow: 0 0 10px red;
}

/*https://codepen.io/zachariab/pen/wkrbc*/
span.grippy {
    height:1em;
    visibility:hidden;
    overflow:visible;
    content: '....';
    width: 20px;
    display: inline-block;
    line-height: 5px;
    padding: 3px 4px;
    cursor: move;
    vertical-align: middle;
    margin-top: -.2em;
    margin-right: .3em;
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 2px;
    color: #cccccc;
    text-shadow: 1px 0 1px #8c8c8c;
}

span.grippy::after {
    content: '.. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ';
}

div.grippy-trigger:hover > * > span.grippy{
    visibility:visible;
}

.object-cell {
    display:flex;
}

.object-cell-handle {
    flex:1;
    margin-bottom:4pt;
    overflow:hidden;
}

.object-cell-main {
    flex:9;
}

.description-text {
    color:gray;
}

.popover.popover-settings {
    background-color:rgba(255, 255, 255, 0.75);
}
.popover.popover-settings .form-group{
    margin:2pt;
}
.popover.popover-settings input {
    max-width:100%;
    background-color:rgba(255, 255, 255, 0.85);
}