.math3d-controller {
    z-index:1000;
    width:275px;
    height:100%;
    position:fixed;
    padding-left:0;
}

.math3d-controller-header {
    padding:4px;
}

form.math-object-settings div.form-group{
    margin-bottom:4pt;
    margin-left:0pt;
}

input.jscolor {
    width:25px;
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

div.add-object {
    display:inline-block;
}

li.save {
    float:right;
}

#save-modal textarea {
    width:100%;
    height:100px;
}

button.upper-right {
    background: transparent;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
}
span.remove-item {
    color:darkgray;
}

.btn.btn-link:hover{
    background-color:#ecf0f1;
    border-radius:4px;
}
span.settings:hover span.glyphicon{
    color:#18bc9c;
}

div.folder-container{
    overflow:hidden;
    margin-bottom:6px;
    display:flex;
}

div.folder-sidebar{
    flex:1;
}

div.folder-main{
    flex:20;
}

div.folder-main .folder-header{
    display:flex;
}
div.folder-header-left{
    flex:1;
}
div.folder-header-center{
    flex:8;
}
div.folder-header-right{
    flex:1;
}

.folder-header-center input {
    border:none;
    font-weight:bold;
}

.folder-header-center input:hover + span {
    visibility:visible;
}

span.folder-name-editable{
    color:lightgray;
    visibility:hidden;
}

div.folder-main .folder-contents{
}

/*https://codepen.io/zachariab/pen/wkrbc*/
span.grippy, span.long-grippy {
    visibility:hidden;
    content: '....';
    width: 20px;
    display: inline-block;
    line-height: 5px;
    padding: 3px 4px;
    cursor: move;
    vertical-align: middle;
    margin-top: -.2em;
    margin-right: .3em;
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 2px;
    color: #cccccc;
    text-shadow: 1px 0 1px #8c8c8c;
}
span.grippy {
    height: 40px;
}
span.long-grippy {
    height:40px;
}

span.grippy::after {
    content: '.. .. .. .. .. .. .. ';
}

span.long-grippy::after {
    content: '.. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ';
}

div.math-object:hover span.grippy{
    visibility:visible;
}
div.folder-container:hover span.long-grippy{
    visibility:visible;
}